Oi Daniel,
Conforme combinado, segue o teste para a próxima etapa.
Prazo limite para envio: 26/05, as 23H59. 

O exercício deve ser feito somente em Javascript.


abs!

------

O exercício consiste no desenvolvimento de um jogo​ 2D
​
no qual o jogador controla um carro que se move lateralmente em uma pista vertical e deve desviar de outros veículos e obstáculos que surgem, tendo como objetivo ir o mais longe possível. O input deve ser feito por meio das teclas direcionais do teclado. O cenário e pista devem se movimentar de cima para baixo, possuindo elementos que dêem a sensação de velocidade.

Referência: https://www.youtube.com/watch?v=KtZZhngtcnw

Requisitos:

1 - A velocidade inicial do carro (i.e. do cenário) deve ser inicialmente baixa e deve aumentar com o tempo de forma que a dificuldade do jogo seja crescente.

2 - Obstáculos surgem na pista forçando o jogador a desviar deles. É necessário que nunca apareça um conjunto de obstáculos impossível de ser ultrapassado.

3 - Quando o jogador perde, deve ser exibida uma pontuação que representa a distância percorrida ou tempo transcorrido desde o início da partida, à sua escolha. Além disso deve ser exibida a maior pontuação atingida pelo usuário desde que a página foi aberta (high score).

4 - Devem existir pelo menos 3 tipos diferentes de obstáculos, com gráficos e consequências de colisão próprios Exemplos estão listados abaixo, mas outras opções podem ser criadas:
  - Carros com aparências diferentes (jogador perde se colidir)
  - Buracos (jogador perde pontos se colidir mas continua jogando)
  - Óleo na pista (desloca o jogador para uma posição aleatória, simulando um deslizamento)

5 - O carro do jogador e os carros obstáculos devem ter animações indicativas de direção normal (ex: rodas girando) e de colisão. Outras animações, além dessas, podem ser implementadas.

O jogo deve ser desenvolvido em Javascript usando o template anexado. Ao terminar, envie-nos um ZIP contendo todos os arquivos necessários para executar o jogo. Lembre-se que deve ser possível rodar o jogo apenas abrindo o arquivo index.html.
